/* ESTILOS MODO CLARO*/
body {
  margin: 0;
  font-family: 'verdana', cursive;
  background-color: #f5f5f5;
  color: #333;
  background: linear-gradient(180deg, #f5f5f5 0%, #f7f2ff 100%);
}

h1,
h2,
h3 {
  font-family: 'Anton', cursive;
}

.h1 {
  font-family: 'verdana', cursive;
  font-size: 2rem;
  background: linear-gradient(to right, #bfa8ff, #d5c4ff);
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

a {
  color: #000000;
  text-decoration: none;
}

/* Estilos del footer */
footer {
  background-color: #ffffff;
  color: #333;
  padding: 1rem 0;
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: #00aaff;
}

/* ESTILOS MODO OSCURO */
body.dark-mode {
  background: #333 !important;
}

body.dark-mode main {
  background: rgba(255, 255, 255, 0.05) !important;
}

body.dark-mode section {
  background-color: #333 !important;
}

body.dark-mode .navbar {
  background: linear-gradient(to right, #1a1a1a, #333);
  color: #fff;
}
body.dark-mode .navbar a {
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); /* mejora la definición */
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body.dark-mode .navbar-links a {
  color: #f5f5f5;
}
.navbar-links a:hover {
  color: #c2a6ff !important;
}

body.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

body.dark-mode header {
  background: linear-gradient(to right, #333, #333) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

body.dark-mode .project-card {
  background-color: #333;
}

body.dark-mode footer {
  background-color: #333;
  color: #fff;
}

/* Botón modo oscuro */
.mode-toggle {
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.mode-toggle:hover {
  background-color: #c2a6ff;
}

.mode-toggle img {
  width: 30px;
  height: 30px;
}

/* Estilo base para el contenedor de las estrellas */
.star-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Para que las estrellas no interfieran con los clics */
  z-index: 999;
  overflow: hidden;
}

/* Estilo de las estrellas */
.star {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  opacity: 1;
  animation: moveStar 2s linear infinite;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.8); /* Efecto de brillo */
}

/* Animación de movimiento de las estrellas */
@keyframes moveStar {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(500px) translateY(500px);
    opacity: 0;
  }
}

/* Modo oscuro - ajustamos las estrellas para que sean más visibles */
body.dark-mode .star {
  background: rgba(255, 255, 255, 1);
}
